# Archivos generados por Android Studio
.gradle/
local.properties
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Archivos de compilación
build/
captures/
outputs/
*.apk
*.ap_
*.aab
*.dex
*.class
*.jar
*.war
*.ear

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración específica del entorno
*.iml

# Archivos de logs
*.log

# Carpetas de Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties

# Cache de Android
.cxx/
.externalNativeBuild/

# Archivos temporales
tmp/
*.tmp
*.temp
